*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: antiquewhite;
}

img{
    width: 500px;
    height: 500px;
}

#mtitle{
    font-size: 50px;
    text-align: center;
}

li{
    list-style-type: square;
}

h2{
    text-decoration: underline;

}

a{
    text-decoration: none;
}

.mpage{
    list-style-type: none;
    font-size: 38px;
    text-align: center;
    
}
